.audio-container {
  position: relative;
  margin-top: 20px;
}

.controls {
  display: flex;
  align-items: center;
}

.progress-container {
  height: 7px;
  margin: 0 10px;
  width: 80%;
  background-color: #A8A8A8;
}

.volume-container {
  /* flex: 1; */
  display: flex;
  height: 7px;
  margin-top: 15px;
  width: 10%;
  align-items: center;
}

.volume-container>svg {
  height: 2rem;
}

.progress-bar,
input[type="range"] {
  width: 100%;
  height: 100%;

}

.progress-bar {
  background-color: #4caf50;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}
.avatar{
    transition: .5s ease;
    border-radius: 1000px;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #2b2b2b;
    display: flex;
    flex-direction: row;
    }
.artistName{
transition: .5s ease;
margin-left: 20px;
margin-top: 75px;
height: 65px;
padding: 10px;
justify-content: center;
align-items: center;
text-align: center;
background-color: rgba(43,43,43,0);
width: 650px;
color: white;
font-size: 50px;
display: flex;
white-space: nowrap;
text-overflow: ellipsis;
flex-direction: row;
border-radius: 15px;
font-family: Arial;
text-decoration: none;
}

.nameBg{
display: flex;
flex-direction: row;
transition: .5s ease;
width: 4500px;
height: 325px;
background-color: rgba(43,43,43,.5);
border-radius: 15px;
}

.socials{
transition: .5s ease;
width: 450px;
height: 65px;
font-size: 50px;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 15px;
padding: 15px;
margin-top: 15px;
margin-left: 10px;
background-color: rgba(43,43,43,.5);
}

.socialPanel{
align-items: center;
justify-content: center;
}

.mainInfo{
align-items: center;
justify-content: left;
display: flex;
flex-direction: row;
}

.socials:hover{
font-size: 75;
height: 80px;
width: 500px;
padding: 30px;
}

.socials:hover .infor{
height:100px;
}

.socials:hover .nameBg{
height:4900px;
}

.infor:hover .socialPanel{
width:450px;
height: 1000px;
}

.infor:hover .avatar{
width: 350px;
height: 350px;
}
.infor:hover .artistName{
font-size: 60px;
margin-top: 125px;
font-weight: 400;
padding: 15px;
height: 80px;
width: 500px;
}
.infor:hover .nameBg{
width: 6000px;
height: 450px;
}

.infor:hover .socials{
font-size: 60px;
margin-top: 125px;
font-weight: 400;
padding: 15px;
height: 80px;
width: 500px;
}

html,
body {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    overflow-x: hidden;
    max-width: 100%;
    font-family: ui;
}

.homepageLogo{
  transition: .5s ease;
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  margin: 15px;
}

.welcomeText{
  transition: .5s ease;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  text-align: center;
  font-size: 60px;
  width: 80%;
  height: 500px;
  margin: 10px;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
}
.welcomeText:hover .homepageLogo{
  height: 500px;
  width: 500px;
}

.welcomeText:hover{
  background-color: #1e1e1e;
  width: 99%;
  height: 700px;
  font-size: 75px;
}

a:link, a:visited{
color: white;
background-color: transparent;
text-decoration: none;
}

a:active, a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

h1{
display: flex;
flex-direction: column;
color: white;
margin-left: 50%;
font-size: 50px;
}

h2{
display: flex;
flex-direction: column;
color: yellow;
font-size: 35px;
}

.welcomeText a{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.infor{
transition: .5s ease;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
width: 800px;
height: 320px;
display: flex;
flex-direction: row;
}

.infor:hover{
width: 950px;
height: 450px;
}

.container {
  transition: .5s ease;
  position: relative;
  width: 95%;
  height: 220px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #0e0e0e;
  border-radius: 15px;
}

.songtitle{
color: white;
font-size: 80px;
transition: .5s ease;
top: 50%;
left: 75%;
padding: 10px 20px;
font-family: fantasy;
text-decoration: none;
}

.topnav {
transition: 0.5s ease;
border-radius: 5px;
background: #1e1e1e;
display: flex;
flex-direction: row;
}

.topnavhome{
transition: 0.5s ease;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 0px;
border-top-right-radius: 0px;
font-size: 15px;
padding: 10px 30px;
background: #2b2b2b;
color: white;
margin: 1px;
}

.topnav a{
color: white;
background-color: transparent;
text-decoration: none;
}

.topnavgenres{
flex-direction: column;
transition: 1s ease;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 5px;
font-size: 15px;
padding: 8px 30px;
background: #2b2b2b;
color: white;
text-decoration: none;
display: inline-grid;
grid-template-columns: 1fr 0fr;
text-align: center;
margin: 1px;
max-height: 800px;
}
.topnavgenredrop{
transition: 1s ease;
display: block;
opacity: 0%;
padding: inherit inherit;
font-size: 0px;
background: #2b2b2b;
color: white;
margin: 0px;
max-height: 70px;
}

.topnavhome:hover{
background: #4b4b4b;
border-radius: 5px;
border-top-right-radius: 5px;
animation-name: rgbcycle;
animation-duration: 10s;
animation-iteration-count: infinite;
}

.topnavgenres:hover{
text-align: center;
padding: 10px 30px;
font-size: 20px;
grid-template-columns: 1fr 1fr;
animation-name: rgbcycle;
animation-duration: 10s;
animation-iteration-count: infinite;
margin: 2px;
border-radius: 5px;
}

.topnavgenres:hover .topnavgenredrop{
opacity: 100%;
font-size: 20px;
padding: 10px 30px;
border-radius: 5px;
text-align: center;
margin: 5px;
}

.topnavgenredrop:hover{
text-align: center;
background: #4b4b4b;
animation-name: rgbcycle;
animation-duration: 10s;
animation-iteration-count: infinite;
}

@keyframes rgbcycle{
0% {color: red}
16.5% {color: yellow}
33% {color: cyan}
66% {color: #58f565}
100% {color: red}
}

@keyframes rgbcyclebg{
0% {background: red; border: red;}
16.5% {background: yellow; border: yellow;}
33% {background: cyan; border: cyan;}
66% {background: #58f565; border: #58f565;}
100% {background: red; border: red;}
}

.songartist{
transition: 0.5s ease;
color: white;
font-size: 25px;
font-family: serif;
text-decoration: none;
}

.genre{
transition: 0.5s ease;
color: white;
font-size: 20px;
font-family: serif;
text-decoration: none;
}
.releaseDate{
transition: 0.5s ease;
color: white;
font-size: 20px;
font-family: serif;
text-decoration: none;
}

.image {
  opacity: 1;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 220px;
  border-radius: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 305px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover {
width: 99%;
height: 300px;
background-color: #1e1e1e;
}

.container:hover .image {
  opacity: 1;
  width: 300px;
  height: 300px;
}

.container:hover .middle {
  opacity: 1;
  top: 85%;
  left: 385px;
}

.container:hover  .songtitle{
font-size: 50px;
text-decoration: none;
display: flex;
flex-direction: column;
}

.container:hover  .songartist{
font-size: 35px;
text-decoration: none;
}

.container:hover  .genre{
font-size: 20px;
text-decoration: none;
}

.container:hover  .releaseDate{
font-size: 20px;
text-decoration: none;
}

.text {
  transition: 1s ease;
  background-color: black;
  color: white;
  font-size: 16px;
  border: 2px red;
  border-style: solid;
  border-radius: 15px;
  padding: 16px 35px;
}

.text:hover {
text-decoration: none;
animation-name: rgbcyclebg;
animation-duration: 10s;
animation-iteration-count: infinite;
color: black;
}

::-webkit-scrollbar {
  width: 13px;
  border-radius: 5px;
  transition: 1s ease;
  transform: translate(-50%, -50%);
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
  border-radius: 5px;
  transition: 1s ease;
  transform: translate(-50%, -50%);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3.5px;
  transition: 1s ease;
  transform: translate(-50%, -50%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
  transition: 1s ease;
}
.text a{
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  